.gameOption {
    border: 2px solid white;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.gameOption:hover {
    border: solid  #3BF1F4 2px;
    transition: .2s ease;
}

.winner {
    border: 2px solid #00EEFF;
    animation: blink 1s infinite;
    
}

.draw{
    border: 2px solid #EBF000;
    animation: blink 1s infinite;
  }


@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }